$first-theme-color: #383F51;
$second-theme-color: #e3b23c;
$third-theme-color: #cfccd6;
$background-head: #6dcc6d;
$background-warning: #ff6c6c;
$theme-gray: rgb(230, 230, 230);
$modal-background-color: rgba(0,0,0,0.9);